@import "../libs/normalize-css/normalize"
@import "../libs/jquery-nice-select/css/nice-select"
@import "../libs/owl.carousel/dist/assets/owl.carousel.min"
@import "../libs/owl.carousel/dist/assets/owl.theme.default.min"
@import "fonts"
@import "vars"

// general styles

*
	margin: 0
	padding: 0
	box-sizing: border-box

.container
	max-width: 1170px
	width: 100%
	padding: 0 20px
	margin: 0 auto
	border: 2px solid #000

li
	list-style-type: none

a
	text-decoration: none


body
	background-color: #e3e3e3
	font-family: "Open Sans",  sans-serif
	color: $text-color
	font-weight: 400
	font-size: 14px
	line-height: 22px 
	overflow: hidden
	transition: all .3s ease

.header
	height: 100px
	background-color: #fff

.navigation
	display: flex
	flex-direction: row
	justify-content: space-around
	ul
		display: flex
		justify-content: center
		align-items: center
		li
			margin-left: 30px
			a
				color: #555
				font-weight: 600
				&:hover
					color: $accent-color
	

	






