@import "../libs/normalize-css/normalize"
@import "../libs/jquery-nice-select/css/nice-select"
@import "../libs/owl.carousel/dist/assets/owl.carousel.min"
@import "../libs/owl.carousel/dist/assets/owl.theme.default.min"
@import "fonts"
@import "vars"

// general styles

*
	margin: 0
	padding: 0
	box-sizing: border-box

img
	display: block

.container
	max-width: 1170px
	width: 100%
	height: 100%
	padding: 0 20px
	margin: 0 auto
	border: 2px solid #000

li
	list-style-type: none

a
	text-decoration: none


body
	background-color: #e3e3e3
	font-family: "Open Sans",  sans-serif
	color: $text-color
	font-weight: 400
	font-size: 14px
	line-height: 22px 
	overflow: hidden
	transition: all .3s ease

.header
	height: 100px
	background-color: #fff

.navigation
	height: 100%
	display: flex
	flex-direction: row
	justify-content: space-around
	ul
		display: flex
		justify-content: center
		align-items: center
		li
			margin-left: 30px
			a
				color: #555
				font-weight: 600
				transition: all .3s ease-in-out
				position: relative
				&::after
					content: ''
					position: absolute
					bottom: -6px
					left: 50%
					width: 30px
					height: 1px
					background-color: $accent-color
					transform: translateX(-50%) scale(0)
					transition: all .3s ease-in-out
				&:hover
					color: $accent-color
					&::after
						transform: translateX(-50%) scale(1)
	.logo
		margin: auto 0
		span
			font-family: 'Champagne Limousines', sans-serif
			font-size: 24px
			display: block
			color: $accent-color
			margin-top: 8px

	

	






